#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2.0
Type=Application
Name=Tuff Image Browser
Comment=A Flutter-based image browser application
Exec=tuffimagebrowser
Icon=tuffimagebrowser
Terminal=false
Categories=Graphics;Photography;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/webp;image/tiff;
StartupNotify=true
